@import "tailwindcss";

:root {
  /* Base / Surface */
  --bg: 0 0% 100%;
  --card: 0 0% 100%;
  --border: 0 0% 90%;
  --fg: 224 71% 4%;
  --fg-muted: 215 16% 47%;

  /* MUI-style семантика */
  --color-primary: 222 47% 11%;
  --color-primary-fg: 0 0% 100%;
  --color-secondary: 262 83% 58%;
  --color-secondary-fg: 0 0% 100%;
  --color-info: 207 90% 54%;
  --color-success: 122 39% 49%;
  --color-warning: 43 96% 56%;
  --color-danger: 4 90% 58%;
}

[data-theme="dark"] {
  --bg: 222 14% 10%;
  --card: 222 14% 12%;
  --border: 222 14% 22%;
  --fg: 0 0% 100%;
  --fg-muted: 215 14% 65%;

  --color-primary: 222 100% 62%;
  --color-primary-fg: 224 71% 4%;
  --color-secondary: 262 95% 72%;
  --color-secondary-fg: 224 71% 4%;
  --color-info: 207 100% 70%;
  --color-success: 122 45% 60%;
  --color-warning: 43 100% 60%;
  --color-danger: 4 95% 67%;
}
